.container {
  background-color: #093545;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  .svg {
    position: absolute;
    bottom: 1px;
    z-index: 1;
  }
}

.content {
  width: 100%;
  max-width: 350px;

  text-align: center;
  color: white;
  z-index: 10;
}

.signin {
  line-height: 4.5rem;
}

.forgotpassword {
  color: #20df7f;

  font-size: 0.8rem;
  font-weight: 100;

  margin: 20px 0 20px 0;
}

