.container {
  display: flex;
  height: 50px;
  padding: 15px;

  background-color: #224957;
  border-radius: 10px;

  input {
    flex: 1;
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    font-family: 'Poppins', sans-serif;

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: white;
      opacity: 1; /* Firefox */
    }
  }

  & + & {
    margin-top: 20px;
  }
}