@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  font-family: 'Roboto', sans-serif;
  font: 400 1rem !important;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 83.5%;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

button, a {
  cursor: pointer;
}

